*{
    margin:0;
    padding:0;
    font-family: 'Lato',sans-serif;
}
.navLeftMobile, input{
    display:none;
}

a{
    text-decoration: none;
}
.discountString{
    color:white;
    background:#e85992;
    text-align: center;
    font-family: Lato,sans-serif;
    font-weight: 500;
    font-size: 12px;
    padding:5.5px;
    letter-spacing: 2px;
}
.navBar{
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding:10px 50px;
}
.navBar svg{  
    width:100px;
    margin: 0 20px 0 0;
}
.navLeft{
    position: absolute;
    display:flex;
    align-items: center;
}
.navLeft button{
    padding:10px 0;
    margin: 0 10px;
    background:transparent;
    border:none;
    border-bottom:2px solid transparent;
    color:#282828BF;
    /* position: fi; */
}
.navLeft button p{
    font-size: 14px;
    border-bottom:2px solid transparent;
    display:inline-block;
    margin-right: 10px;
}
.navLeft a {
    display:inline-block;
    margin: 0 10px;
    text-decoration: none;
    font-family: lato, sans-serif;
    color:#282828BF;
}
.navLeft a p{
    font-size: 14px;
    border-bottom:2px solid transparent;
    display:inline-block;
    margin-right: 10px;
}
.navLeft button p:hover{
    border-bottom:2px solid black;
    text-decoration: none;
    color:black;
}
.navLeft .my-dropdown{
    width:100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    position:absolute;
    padding: 10px 0px 20px 5px;
    background:white;
    display:flex;
    z-index: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    display: none;
}
.navLeft button:hover .my-dropdown{
    display: flex;
    transform: translateY(10px);
}
.navLeft .my-dropdown a:hover{
    color:black;
}

.navLeft .my-dropdown a{
    display: block;
    width:100%;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    margin:12px 20px;
}
.navLeft .my-dropdown p:hover{
    text-decoration: none;
}

.navLeft a p:hover{
    border-bottom:2px solid black;
    text-decoration: none;
    color:black;
}
.navRight{
    display:flex;
    align-items: center;
}
.navRight svg{
    height:40px;
    margin:0;
    padding:0;
    width:40px;
}
.bg-img img{
    width:100%;
}
.slider{
    height:160px;
    padding:10px;
    margin:3%;
}
.slider-card{
    padding:5px;
    width:140px;
    height:100%;
    text-align: center;
}
.slider-card p{
    font-size: 12px;
}
.slider-image img {
    border-radius: 50%;
}
.row{
    margin:3%;
}
.row-header{
    display:flex;
    justify-content: space-between;
    margin:10px;
}
.row-header p{
    font-family: 'EB Garamond', serif;
    font-weight: 600;
    font-style: italic;
}
.row-header .view-all{
    background:#d3134f;
    color:white;
    padding:7px 10px;
    font-size: 12px;
}
.main-carousel{
    padding:0;
}
.row-card{
    width:185px;
    height:280px;
    padding:10px;
    float:left;
    /* box-sizing: border-box; */
}
.row-card p{
    font-size: 14px;
}
.row-card img{
    width:100%;
}
.row .add-to-cart{
    margin:10px auto;
    text-align: center;
    
    color:white;
    font-size: 12px;
    padding:5px;
    background:#d3134f;
}
.descript h3{
    text-align: center;
    font-family: 'EB Garamond', sans-serif;
}
.descript p{
    color: #282828BF;
    padding:3%;
    font-size: 12px;
}
.icons-above-footer{
    display:flex;
    justify-content: space-evenly;
    padding: 10px;
}
.icons-above-footer .icon{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.icons-above-footer .icon p{
    color:#282828BF;
    font-size: 10px;
    padding-top: 10px;
    margin: auto;
}
.icons-above-footer .icon-middle{
    border-left: 1px solid #8d8080bf;
    border-right: 1px solid #8d8080bf;
}
footer{
    background:#ffafb6;
    padding:2% 3%;
    color:white;
}
.footer-flex-main{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer-flex-sub{
    display:flex;
    justify-content: space-between; 
    min-width: 45%;
}
.footer-flex-container{
    display:flex;
    flex-direction:column;  
    margin:0 20px;
}
.footer-logo-container{
    align-items:center;
}
.footer-flex-sub .footer-flex-container li{
    list-style-type:none;
    font-size:15px;
}
.footer-flex-sub .footer-flex-container  a{
    text-decoration: none;
    color:white;
    font-size: 13px;
    letter-spacing: 1px;
}
.footer-flex-sub .footer-flex-container h3{
    font-weight: 200;
    letter-spacing: 1px;
    margin:10px 0;
}
.footer-flex-sub .footer-flex-container li a p{
    text-decoration: none;
    color:white;
    display: inline-block;
    border-bottom:1px solid transparent;
}
.footer-flex-sub .footer-flex-container li{
    margin:10px 0;
}
.footer-flex-sub .footer-flex-container a p:hover{
    border-bottom:1px solid white;
}
.footer-social-media-buttons{
    display: flex;
    margin: 20% 0%;
}
.footer-social-media-button a p{
    font-size: 12px;   
}
.footer-social-media-button a p:hover{
    text-decoration: none;
    border-bottom:0 opx;
}
.footer-social-media-button{
    display:inline-block;
    border:1px solid white;
    border-radius:5px;
    padding:5px 10px;
    margin: 0 15px;
    letter-spacing: 1px;
}
.footer-bottom{
    padding:20px 0;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-left, .footer-right{
    margin: 20px 0;
    display:flex;
    align-items: center;
}
.footer-left img{
    height: 35px;
    margin-right: 30px;
}
.footer-right p{
    margin-right: 30px;
}

@media screen and (min-width:990px) {
    
    .menu-item img, .menu-item p, .menu-item i{
        display:none;
    }
    .label-1, .label-2,.label-3,.label-4{
        display:none;
    }
    .bar i{
        display: none;
    }
    .images{
        display:none;
    }
    .mobile-footer{
        display:none;
    }
}

@media screen and (max-width:990px) {
    html,body{
        overflow-x: hidden;
        scroll-behavior: smooth;
    }
    .navLeft{
        display:none;
    }
    footer{
        display:none;
    }
    .navBar{
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navLeftMoile{
        display: flex;
        flex-direction: row;   
    }
    .navLeftMobile {
        height: 100%;
        width:100%;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    input{
        display:none;
    }
    .sideBarToggle{
        position: absolute;
        left: 20px;
        width:20px;
        height: 20px;
        cursor: pointer;  
    }
    .navRight{
        position: absolute;
        right: 15px;
    }
    .line{
        height: 3px;
        background-color: black;
        margin-top:3px ;
    }
    .navLeftMobile svg{
        height: 95%;
    }
    #sideBar{
        transform: translateX(-600px);
        position: fixed;
        left: 0;
        top: 0;
        z-index:1;
        overflow-y: scroll;
        height: 100vh;
        width: 100%;
        max-width: 450px;
        background:white;
        transition: 200ms ease-in-out;
    }
    #sideMenuCheckbox:checked ~ #sideBar{
        transform: translateX(0);
        transition: 200ms ease-in-out;
    } 
    #sideBar .sideBarToggle{
        display: inline-block;
        position:unset;   
    }
    #sideBar .sideBarToggle .line{
        height: 2px;
        background-color: white;
        
    }
    .line1{
        background-color: green;
        transform: translate(0,5px) rotate(45deg);
    }
    .line2{
       transform:translate(0) rotate(-45deg);    
    }
    #sideBar .bar{
        background-color: #e85992;
        color:white;
        padding:10px 20px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    #sideBar .bar svg{
        height: 22px;
    }
    .menu-item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin:0 10px;
        cursor: pointer;
    }
    .menu-item .image img{
        width:40px;
        border-radius: 50px;
    }
    .menu-item .image{
        display: flex;
        align-items:center;
        padding-bottom:20px;
    }
    .menu-item p{
        display: inline-block;
        margin:0 10px;
    }
    .label-1, .label-2, .label-3, .label-4{
        display:flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        display: none; 
    }
    .label-1 img, .label-2 img, .label-3 img, .label-4 img{
        min-width: 100%;
        border-radius: 50%;
    }
    .label-1 p, .label-2 p, .label-3 p ,.label-4 p{
        text-align: center;
        font-size: 10px;
    }
    #menu-item-1-checkbox:checked ~ .label-1{
        display: flex;
    }
    #menu-item-2-checkbox:checked ~ .label-2{
        display: flex;
    }
    #menu-item-3-checkbox:checked ~ .label-3{
        display: flex;
    }
    #menu-item-4-checkbox:checked ~ .label-4{
        display: flex;
    }
    .images{
        display:flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .images img{
        border-radius:50%;
        /* margin-top:10px; */
    }
    .images p{
        font-size: 10px;
        text-align: center;
        margin-bottom: 20px;
    }
    .separator{
        align-self: center;
        margin:10px auto;
        /* margin-bottom:20px; */
        width:90vw;
        border-bottom: 1px solid rgba(0 , 0, 0, 0.1);
    }
    .mobile-footer{
        padding:20px 20px 0px 20px;
        background-color: #ffafb6;
        display: flex;
        justify-content: center;
        justify-items: center;
        flex-direction: column;
    }
    .mobile-footer a{
        padding:15px 20px;
        
    }
    .mobile-footer p{
        font-size: 12px;
        padding:0;
    }
    .mobile-footer-social-media-buttons{
        color:white;
        display:flex;
        justify-content: center;
        margin-bottom:20px;
    }
    .mobile-footer-social-media-buttons a{
        padding:0;
        color: white;
    }
    .mobile-footer-social-media-button{
    display:inline-block;
    border:1px solid white;
    border-radius:5px;
    padding:5px 10px;
    margin: 0 15px;
    letter-spacing: 1px;
    }
    .mobile-footer-logo{
        margin:20px auto;

    }
    .mobile-footer-list{
        color:white;
        padding:20px;
    }
    
    .mobile-footer label{
        display:flex;
        justify-content: space-between;
        padding:15px 20px;
        color:white;

    }
    .mobile-footer .label-1-list{
        display:flex;
        flex-direction: column;
        list-style: none;
        padding:0 20px 20px 20px;
        display:none;
    }
    .mobile-footer .label-2-list{
        display:flex;
        flex-direction: column;
        list-style: none;
        padding:0 20px 20px 20px;
        display:none;
    }
    .mobile-footer .label-3-list{
        display:flex;
        flex-direction: column;
        list-style: none;
        padding:0 20px 20px 20px;
        display:none;
        
    }
    .mobile-footer .label-1-list a, .mobile-footer .label-2-list a, .mobile-footer .label-3-list a{
        text-decoration: none;
        color:white;
        margin:0 20px; 
    }
    #cb1:checked ~ .label-1-list{
        display: flex;
    }
    #cb2:checked ~ .label-2-list{
        display: flex;
    }
    #cb3:checked ~ .label-3-list{
        color:white;
        display: flex;
    }
    .text{
        text-align: center;
        color: white;
        margin: 20px;
    }
    .mobile-footer-image{
        display:flex;
        justify-content: space-evenly;
    }
    .mobile-footer-image img{
        width:100px;
    }
    .mobile-footer-bottom{
        display:flex;
        justify-content: space-between;
        color:white;
        margin:20px;
    }
    .mobile-footer .separator{
        border-color:white;
        margin: 0;
    }
}
.footer-social-media-button a{
    font-size: 14px;
    text-decoration: none;
    border-color:transparent;
}